.site-footer {
  /* background-color: rgba(238, 146, 12, 0.1); */
}

.list-unstyled {
  list-style-type: none;
  font-weight: bold;
}
.a-cancel {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
.footer-heading {
  color: aliceblue;
}
.link-heading {
}
.site-footer {
  padding: 45px 0 20px;
  font-size: 20px;
  line-height: 24px;
}
.custom-link {
  color: white !important;
}
.contact-li {
  font-weight: bold;
}

.contact-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.1rem;
}
.contact-links a {
  padding-top: 5px;
  color: white;
  text-decoration: none;
}
.contact-links i {
  margin-right: 10px;
}

.white:hover {
  color: #fce588;
}
