* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#001121, #001121);
  /* overflow-x: hidden !important; */
}

.vh-100 {
  height: 100vh;
}

.main-img {
  height: 60vh;
}

.coming-soon {
  margin: 15px;
}

.parvaah {
  height: 20vw;
  aspect-ratio: 1;
  margin: 1vw;
}

.vl {
  height: 25vw;
  width: 5px;
  border-radius: 5px;
  background-color: white;
}

.parvaah-text {
  font-size: 1.3rem;
  margin: 10px;
  color: aliceblue;
}

.p-knowmore {
  margin: 50px;
}

.know-more {
  text-decoration: none;
  font-size: 1.2rem;
  color: aliceblue;
}

.know-more:hover {
  color: aliceblue;
}

.contact-info > a {
   color: aliceblue;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue !important;
  font-family: 'Roboto', sans-serif;
}

.contact-text {
   text-decoration: none;
   color: aliceblue;
}

.contact-text:hover {
  text-decoration: none;
  color: aliceblue;
}

.contact-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dept {
font-weight: 900 !important;
  
}

.info {
  margin: 10px;
}

ul {
  list-style-type: none;
}

.kj-img {
  width: 30vw;
}

@media only screen and (max-width: 500px) {
  .vl {
    margin: 3rem auto;
    height: 5px;
    width: 25vh;
    border-radius: 5px;
    background-color: white;
  }
  .parvaah {
    height: 60vw;
    aspect-ratio: 1;
    margin: 0vw;
  }
  .main-img {
    height: 40vh;
  }
  .kjsce {
    width: 75vw;
    float: left;
  }
  .abhiyantriki {
    width: 75vw;
    float: right;
  }

  .rev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .rev > div {
    display: inline-block;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }



}
