
@media only screen and (max-width: 800px) {
  .somaiya {
      display: none;
  }
}

li {
  display: inline-block;
  padding: 1px;
  border-width: 0px;
}

.highlight:hover {
  
  padding: 0px;
  border-top:    1px solid #FC0;
  border-right:  1px solid #FC0; 
  border-bottom: 1px solid #FC0;
  
}
