/* fancy button animation (credits: some codepen) */
.box {
  position: relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
}

.box:hover {
  color: #fce588;
}

.box::before,
.box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
}

.foo::before {
  border-bottom: 1px solid #fce588;
  border-left: 1px solid #fce588;
  transform-origin: 100% 0%;
}

.foo::after {
  border-top: 1px solid #fce588;
  border-right: 1px solid #fce588;
  transform-origin: 0% 100%;
}

.box:hover::after,
.box:hover::before {
  transform: scale(1);
}

/* navbar  */
.navbar {
  text-align: center;
  background-color: #001121;
}

ul {
  list-style-type: none;
}

/* hide the somaiya logos in small screens */
@media only screen and (max-width: 500px) {
  .somaiya {
    display: none;
  }
}
@media only screen and (max-width: 1183px) {
  .right-wala-somaiya-logo {
    display: none;
  }
}
@media only screen and (max-width: 1055px) {
  .left-wala-somaiya-logo {
    display: none;
  }
}

/* navbar drop down animation 
credits: https://bootstrap-menu.com/detail-hover-animation.html */
@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
