.box {
  position: relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
}

.box:hover {
  color: #fce588;
}

.box::before,
.box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
}

.foo::before {
  border-bottom: 1px solid #fce588;
  border-left: 1px solid #fce588;
  transform-origin: 100% 0%;
}

.foo::after {
  border-top: 1px solid #fce588;
  border-right: 1px solid #fce588;
  transform-origin: 0% 100%;
}

.box:hover::after,
.box:hover::before {
  transform: scale(1);
}

@media only screen and (max-width: 500px) {
  .somaiya {
    display: none;
  }
}
