.top-container {
	min-height: 100vh;
	min-width: 100vw;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

}


.flex-and-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vertically-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.img-height-sm {
    height: 35px;
}
.img-height-md {
    height: 80px;
}
.img-height-lg {
    height: 200px;
}