body {
  background-image: url("../assets/gifs/bg_animation1.gif");
  background-size: cover;
}

.full-screen {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.full-screen .top-container {
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.follow {
  margin-top: 50px;
  font-size: 1.2rem;
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid white;
}

.vertically-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-height-sm {
  height: 45px;
}

.img-height-md {
  height: 80px;
}
.img-height-lg {
  height: 100px;
}

.exit-game {
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-link {
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
  text-transform: uppercase;
}

.image-gif {
  width: 80%;
}
.mobile-social-media-section {
  display: none;
}
/* ---------------------------- Scroll Effect --------------------------- */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* -------------------------- Play game btn -------------------------- */
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited {
  background-color: #99ffff;
  border-color: #99ffff;
  box-shadow: none;
  color: #000;
  box-shadow: 0px 0px 20px 0.5px #99ffff;
}

/*-------------------------- Sidebar --------------------------*/
.social-media__section {
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 200px;
  padding-top: 15px;
}

.social-media__section a {
  padding: 6px 8px 6px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  display: block;
  transition: 0.5s;
  overflow: hidden !important;
}

.social-media__section ul li a:hover {
  color: #dcc776;
  transform: scale(1);
  overflow: hidden !important;
}

@media only screen and (max-width: 500px) {
  .img-height-sm {
    height: 30px;
  }
  .img-height-lg {
    height: 100px;
    margin: 25px;
  }

  .vertically-center {
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  .row {
    justify-content: center;
    align-items: center;
  }

  .dim-adjust {
    width: 90%;
  }

  .social-media__section {
    display: none;
  }

  .image-gif {
    width: 90%;
  }

  /* links containers */
  .mobile-social-media-section {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
  .mobile-social-media-inner-section {
    width: 95%;
    text-align: center;
    margin: auto;
  }
  .social-media__section {
    display: none;
  }
  .mobile-social-media-section a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.5s;
    display: inline;
  }
}
