body {
  background-image: url("../assets/gifs/bg_animation.gif");
}

.row {
  flex-direction: row-reverse;
}

.full-screen {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.full-screen .top-container {
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column-reverse;
}

.vertically-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-height-sm {
  height: 45px;
}

.img-height-md {
  height: 80px;
}
.img-height-lg {
  height: 100px;
}

.exit-game {
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-link {
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
  text-transform: uppercase;
}

.image-gif {
  width: 80%;
}
@media only screen and (max-width: 500px) {
  .img-height-sm {
    height: 30px;
  }
  .img-height-lg {
    height: 100px;
    margin: 25px;
  }

  .vertically-center {
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .dim-adjust {
    width: 90%;
  }
 

  .image-gif{
    width: 100%;
  }
}
