/* width */
::-webkit-scrollbar {
  width: 6px;
  background-image: linear-gradient(#11112d, #11112e);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(68, 3, 230, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aliceblue;
}

