* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1033;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ------------------------- Logos ----------------------------  */

#abhiyantriki-logo img {
  width: 180px;
}
#kj-logo {
  width: 90px;
}
#somaiya-logo {
  width: 40px;
}
/* --------------------- Background Glitch -------------------- */

.img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://thumbs.gfycat.com/LightIgnorantHoopoe-max-1mb.gif");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  border: 1px solid #000000;
  opacity: 25%;
  z-index: -2;
}

/* ------------------------ Preloader ------------------------ */

#plug,
#socket {
  fill: #362f47;
}

#loop-normal {
  fill: none;
  stroke: #736496;
  stroke-width: 12;
}
#loop-offset {
  display: none;
}

.preloader-anim {
  background-color: white;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  animation: loading 5s ease-in-out forwards;
}
svg {
  width: 200px;
  height: 120px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.hidden {
  display: none;
}
@keyframes loading {
  100% {
    opacity: 0;
    display: none;
  }
}

/*-------------------------- Navbar --------------------------*/
.navbar-toggler-icon:active,
.navbar-toggler-icon:focus {
  outline: none;
  text-decoration: none;
}
nav li {
  display: inline-block;
}
.mobile {
  display: none;
  font-size: 1.2rem;
}
@media (min-width: 800px) {
  .navbar li {
    margin-left: 1em;
    margin-right: 1em;
  }
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    background-color: #212529;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item {
    color: #fff;
  }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: #212529;
  }
}

/* search here for effects --> https://codepen.io/maheshambure21/pen/QwXaRw */
/* search here for effects --> https://tympanus.net/Development/CreativeLinkEffects/ */

/*-------------------------- Sidebar --------------------------*/
.social-media__section {
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 100px;
  padding-top: 15px;
}

.social-media__section a {
  padding: 6px 8px 6px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  display: block;
  transition: 0.5s;
  overflow: hidden !important;
}

.social-media__section ul li a:hover {
  color: purple;
  transform: scale(1);
  overflow: hidden !important;
}

.mobile-social-media-section {
  display: none;
}

/* ---------------- Active Tab------------------ */
.active {
  color: white;
  border: 2px solid white;
  border-radius: 0px;
  transition: border-radius 0.5s;
}
.active-mobile {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  border-radius: 0px;
  transition: border-radius 0.5s;
}
.active:hover {
  border-radius: 50px;
}

/* ---------------------- Navigation links -------------------------- */
.nav-btn {
  position: relative;
  padding: 10px;
}
.nav-btn:hover:before {
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
}
.nav-btn:hover:after {
  height: 100%;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.nav-btn:before {
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #fff;
  border-color: #fff #fff transparent transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.3s;
}
.nav-btn:after {
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #fff;
  border-color: transparent transparent #fff #fff;
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: all 0.3s;
}

/* ---------------------------- Scroll Effect --------------------------- */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
/* ---------------------------- Glitch Effect ---------------------------- */

.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(36% 0 9% 0);
  }

  5% {
    clip-path: inset(56% 0 5% 0);
  }

  10% {
    clip-path: inset(49% 0 40% 0);
  }

  15% {
    clip-path: inset(33% 0 30% 0);
  }

  20% {
    clip-path: inset(26% 0 17% 0);
  }

  25% {
    clip-path: inset(7% 0 47% 0);
  }

  30% {
    clip-path: inset(31% 0 24% 0);
  }

  35% {
    clip-path: inset(69% 0 3% 0);
  }

  40% {
    clip-path: inset(74% 0 2% 0);
  }

  45% {
    clip-path: inset(64% 0 37% 0);
  }

  50% {
    clip-path: inset(61% 0 4% 0);
  }

  55% {
    clip-path: inset(69% 0 6% 0);
  }

  60% {
    clip-path: inset(80% 0 19% 0);
  }

  65% {
    clip-path: inset(16% 0 73% 0);
  }

  70% {
    clip-path: inset(86% 0 12% 0);
  }

  75% {
    clip-path: inset(34% 0 64% 0);
  }

  80% {
    clip-path: inset(25% 0 30% 0);
  }

  85% {
    clip-path: inset(62% 0 7% 0);
  }

  90% {
    clip-path: inset(10% 0 88% 0);
  }

  95% {
    clip-path: inset(74% 0 2% 0);
  }

  100% {
    clip-path: inset(43% 0 2% 0);
  }
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  animation: noise-anim 8s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip-path: inset(21% 0 13% 0);
  }

  5% {
    clip-path: inset(51% 0 47% 0);
  }

  10% {
    clip-path: inset(16% 0 82% 0);
  }

  15% {
    clip-path: inset(68% 0 30% 0);
  }

  20% {
    clip-path: inset(59% 0 22% 0);
  }

  25% {
    clip-path: inset(64% 0 12% 0);
  }

  30% {
    clip-path: inset(66% 0 31% 0);
  }

  35% {
    clip-path: inset(42% 0 20% 0);
  }

  40% {
    clip-path: inset(1% 0 1% 0);
  }

  45% {
    clip-path: inset(88% 0 12% 0);
  }

  50% {
    clip-path: inset(90% 0 6% 0);
  }

  55% {
    clip-path: inset(58% 0 12% 0);
  }

  60% {
    clip-path: inset(67% 0 29% 0);
  }

  65% {
    clip-path: inset(88% 0 12% 0);
  }

  70% {
    clip-path: inset(100% 0 1% 0);
  }

  75% {
    clip-path: inset(61% 0 12% 0);
  }

  80% {
    clip-path: inset(13% 0 4% 0);
  }

  85% {
    clip-path: inset(35% 0 42% 0);
  }

  90% {
    clip-path: inset(73% 0 21% 0);
  }

  95% {
    clip-path: inset(44% 0 24% 0);
  }

  100% {
    clip-path: inset(38% 0 20% 0);
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #1e1033;
  background: transparent;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

.dev {
  font-size: 1rem;
  margin-top: 50px;
  cursor: pointer;
  text-align: center;
}
.dev a:hover {
  color: aqua;
}
.white {
  color: whitesmoke;
}

/* ------------------Responsive-------------------- */
@media (max-width: 768px) {
  .mobile-social-media-section {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
  .mobile-social-media-inner-section {
    width: 95%;
    text-align: center;
    margin: auto;
  }
  .social-media__section {
    display: none;
  }
  .mobile-social-media-section a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.5s;
    display: inline;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    text-align: center;
  }
  .follow {
    margin-top: 50px;
    font-size: 1.2rem;
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid white;
  }
  .dev {
    font-size: 1rem;
    margin: 40px auto;
  }
}
