.pushmenu {
  background: #29001b;
  text-align: center;
  font-family: Coves Bold, Geneva, sans-serif;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.pushmenu h3 {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: 400;
  padding: 15px 25px;
  margin: 0;
  background: #333;
  height: 16px;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 0%;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
}

.links li {
  margin-top: 30px;
}

.links li a {
  position: relative;
  display: block;
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  padding: 14px;
}

.links li a:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: #f1f1f1;
  transition: width 0.3s ease;
}

.links li a:hover:after {
  width: 70%;
}

.links li a:active {
  color: #db4c1c;
}

.pushmenu-left {
  right: -250px;
}

.pushmenu-left.pushmenu-open {
  right: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  right: 0;
}

.pushmenu-push-toright {
  right: 250px;
}

.pushmenu,
.pushmenu-push {
  transition: all 0.5s ease;
}

.desktop_nav {
  display: none;
}

.mobo_nav {
  display: block;
}

#nav_list {
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
}

#nav_list input {
  display: none;
}

/* path {
  fill: none;
  stroke: #f1f1f1;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

circle {
  fill: #fff3;
  opacity: 0;
}

label:hover circle {
  opacity: 1;
}

.cross input:checked + svg .line--1,
.cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.cross input:checked + svg .line--2 {
  --length: 0;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
  --length: 8.602325267;
}

.menu--1 .line--1,
.menu--1 .line--3 {
  --total-length: 126.64183044433594;
}

.menu--1 .line--2 {
  --total-length: 70;
}

.menu--1 input:checked + svg .line--1,
.menu--1 input:checked + svg .line--3 {
  --offset: -94.1149185097;
}

.menu--1 input:checked + svg .line--2 {
  --offset: -50;
} */

@media screen and (min-width: 800px) {
  .mobo_nav {
    display: none;
  }

  .desktop_nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar {
    width: 100%;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    background: #29001b;
    position: absolute;
    top: 0;
    left: 0;
    font-family: Coves Bold, "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 300;
  }

  .navbar img {
    height: 50px;
    width: auto;
    float: left;
  }

  .desktop_nav {
    float: right;
    padding: 5px;
    margin: auto;
    margin-right: 10px;
    vertical-align: middle;
  }

  .desktop_nav a {
    font-size: 1vw;
    color: #f1f1f1;
    padding: 1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: 400;
    line-height: 2vw;
    margin: 0 1vw 0vw;
    max-width: 25vw;
    position: relative;
    text-transform: uppercase;
  }

  .dropdown {
    font-size: 1vw;
    color: #f1f1f1;
    cursor: pointer;
    font-weight: 400;
    line-height: 2vw;
    max-width: 25vw;
    position: relative;
    text-transform: uppercase;
  }

  .events {
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .desktop_nav a:after,
  .desktop_nav a:before,
  .dropdown:after,
  .dropdown:before {
    backface-visibility: hidden;
    border: 1px solid rgba(97, 0, 63, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }

  .desktop_nav a:hover:after,
  .desktop_nav a:hover:before,
  .dropdown:hover:after,
  .dropdown:hover:before {
    backface-visibility: hidden;
    border-color: #f1f1f1;
    transition: width 350ms ease-in-out;
    width: 70%;
  }

  .desktop_nav a:hover:before,
  .dropdown:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}
