.container {
  margin-top: 20px;
  height: 300px;
  z-index: 1;
  color: white;
}

.row {
  padding: 10px;
  height: 100px;
  margin: auto;
}

.flower {
  background-image: url("https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-------------------------- buttons --------------------------*/
.button__container {
  padding: 0 20px;
}

.button {
  position: relative;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 5px 5px rgba(241, 239, 239, 0.2);
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.button:after {
  content: "";
  background: linear-gradient(90deg,transparent,rgba(255,255,255,0.4),transparent);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:hover{
  color: white;
}

.text {
  margin: auto;
  padding: 0 90px;
}

.first,
.second,
.third,
.fourth {
  height: 400px;
  background-color: white;
  overflow: scroll;
}

p {
  color: black;
  margin: auto;
  text-align: center;
}

/* width */
.scroller::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: rgba(174, 0, 255, 0.329);
  border-radius: 10px;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: rgb(174, 0, 255);
}

.hidden {
  display: none;
}
.clicked-btn {
  background: rgb(174, 0, 255);
  color: white;
}
