* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#001121, #001121);

  /* overflow-x: hidden !important; */
}

.vh-100 {
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: aliceblue;
  margin-top: 18vh;
  margin-bottom: 8vh;
}

#events-btn {
  background-color: aliceblue;
  color: black;
  padding: 0.7rem;
  border-radius: 10px;
  border-style: none;
  display: inline-block;
  width: 10vw;
}

#events-btn:hover {
  background-color: #fce588;
}

.event-blocks {
  margin: 10vh;
}

.block {
  display: inline;
}

.name {
  margin: 3vh;
  text-align: center;
  color: aliceblue;
  font-size: 1rem;
}

/* Navbar */
.box {
  position: relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
}

.box:hover {
  color: #fce588;
}

.box::before,
.box::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: 0.5s;
}

.foo::before {
  border-bottom: 1px solid #fce588;
  border-left: 1px solid #fce588;
  transform-origin: 100% 0%;
}

.foo::after {
  border-top: 1px solid #fce588;
  border-right: 1px solid #fce588;
  transform-origin: 0% 100%;
}

.box:hover::after,
.box:hover::before {
  transform: scale(1);
}

@media only screen and (max-width: 500px) {
  .somaiya {
    display: none;
  }
}

/* Sidebar */

.mobile-social-media-section {
  display: none;
}

.social-media__section {
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 200px;
  padding-top: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
}

.social-media__section a {
  padding: 6px 8px 6px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #ccc;
  display: block;
  transition: 0.5s;
  overflow: hidden !important;
}

.social-media__section ul li a:hover {
  color: #dcc776;
  transform: scale(1);
  overflow: hidden !important;
}

.follow {
  color: aliceblue;
}

@media only screen and (max-width: 500px) {
  .img-height-sm {
    height: 30px;
  }
  .img-height-lg {
    height: 100px;
    margin: 25px;
  }

  .vertically-center {
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  .row {
    justify-content: center;
    align-items: center;
  }

  .dim-adjust {
    width: 90%;
  }

  .social-media__section {
    display: none;
  }

  .image-gif {
    width: 90%;
  }

  /* links containers */
  .mobile-social-media-section {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
  .mobile-social-media-inner-section {
    width: 95%;
    text-align: center;
    margin: auto;
  }
  .social-media__section {
    display: none;
  }
  .mobile-social-media-section a {
    padding: 0 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.5s;
    display: inline;
  }
}

/* sidebar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  background-image: linear-gradient(#11112d, #11112e);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(68, 3, 230, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aliceblue;
}


/* Buttons */
/* credits: https://codepen.io/Ducke/details/zBwGgm */

@-webkit-keyframes holox-fed {
  0% {
    box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px #11f1ff inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
  }
}
@keyframes holox-fed {
  0% {
    box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px #11f1ff inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
  }
}
@-webkit-keyframes holox-reb {
  0% {
    box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px #ff0900 inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
  }
}
@keyframes holox-reb {
  0% {
    box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px #ff0900 inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
  }
}
@-webkit-keyframes holox-pen {
  0% {
    box-shadow: 0 0 13px rgba(102, 102, 102, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px #666666 inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(102, 102, 102, 0.6) inset;
  }
}
@keyframes holox-pen {
  0% {
    box-shadow: 0 0 13px rgba(102, 102, 102, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px #666666 inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(102, 102, 102, 0.6) inset;
  }
}
a[class^="holo-btn"] {
  color: #999;
  font: normal 1.1em/3.11em Electrolize, "Cultive Mono", Tahoma, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  height: 60px;
  transition: all 330ms linear;
}
a[class^="holo-btn"]:hover {
  color: #fff;
  text-rendering: optimizeLegibility;
}
a[class^="holo-btn"]:hover .top {
  margin-top: -55px;
  -webkit-animation: none;
  animation: none;
  box-shadow: none;
}
a[class^="holo-btn"]:hover .bottom {
  margin-top: -47px;
}
a[class^="holo-btn"]:active .skew {
  -webkit-animation: none;
  animation: none;
  box-shadow: 0 0 22px rgba(102, 102, 102, 0.6) inset;
}

a.holo-btn span {
  box-sizing: border-box;
}

a.holo-btn-fed {
  color: #00f7ff;
}
a.holo-btn-fed:hover {
  color: #e5feff;
}
a.holo-btn-fed:active .skew {
  box-shadow: 0 0 22px rgba(17, 241, 255, 0.6) inset;
}

a.holo-btn-reb {
  color: #ff443d;
}
a.holo-btn-reb:hover {
  color: #ffd8d6;
}
a.holo-btn-reb:active .skew {
  box-shadow: 0 0 22px rgba(255, 9, 0, 0.6) inset;
}

span[class^="cta"] {
  width: 100%;
  display: block;
  padding: 0 29px;
  text-shadow: 0 0 30px #666;
}
span[class^="cta"]:before {
  text-transform: none;
  font-family: fontastic1;
  font-size: 1.4em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  padding-bottom: 4px;
  transition: margin 500ms cubic-bezier(0.79, 0.01, 1, 0.21);
}

.holo-btn-fed span[class^="cta"] {
  text-shadow: 0 0 30px #11f1ff;
}

.holo-btn-reb span[class^="cta"] {
  text-shadow: 0 0 30px #ff0900;
}

.cta-d:before {
  content: "d";
}

.cta-e:before {
  content: "+";
}

.cta-f:before {
  content: "f";
}

.cta-h:before {
  content: "h";
}

.cta-x:before {
  content: "x";
}

.top {
  margin-top: -60px;
}

.bottom {
  margin-top: -42px;
}

.skew {
  transform: skew(-10deg);
  border: 1px solid transparent;
  border-right-width: 2px;
  -o-border-image: linear-gradient(to bottom right, #bbbbbb 0%, #999999 100%) 1;
  border-image: linear-gradient(to bottom right, #bbbbbb 0%, #999999 100%) 1;
  -webkit-animation: holox-pen 5.4s ease 1s infinite;
  animation: holox-pen 5.4s ease 1s infinite;
  padding: 24px;
  display: block;
  transition: all 330ms linear;
  box-shadow: 0 0 13px rgba(102, 102, 102, 0.6) inset;
}

.holo-btn-fed .skew {
  -o-border-image: linear-gradient(to bottom right, #99fcff 0%, #00f7ff 100%) 1;
  border-image: linear-gradient(to bottom right, #99fcff 0%, #00f7ff 100%) 1;
  -webkit-animation-name: holox-fed;
  animation-name: holox-fed;
  box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
}

.holo-btn-reb .skew {
  -o-border-image: linear-gradient(to bottom right, #ff7570 0%, #ff443d 100%) 1;
  border-image: linear-gradient(to bottom right, #ff7570 0%, #ff443d 100%) 1;
  -webkit-animation-name: holox-reb;
  animation-name: holox-reb;
  box-shadow: 0 0 13px rgba(255, 9, 0, 0.6) inset;
}