.container {
  margin-top: 20px;
  height: 300px;
  z-index: 1;
  color: white;
}
.row {
  padding: 20px;
  height: 300px;
}

/* ----------------------register button-------------------------- */
.register__button ul li a {
  color: white;
}

li {
  list-style-type: none;
}

.register__button {
  margin: auto;
  height: auto;
  width: auto;
}

/* -------------------speaker section------------- */
.card-container {
  width: 100vw;
  padding: 0 2vw;
  transform: translateX(-5vw);
  margin-left: auto;
}

.speaker-card {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 5%;
}
 
.speaker-img {
  width: 40%;
  padding: 5vh;
  height: auto;
}

.speaker-text {
  width: 90%;
  float: left;
  text-align: justify;
  padding-right: 2%;
  color: #f1f1f1;
  font-size: 1rem;
  margin-top: 10vh;
  margin-left: 20vh;
  margin-top: 20vh;
}

h3{
    text-align: right;
}

/* @media screen and (max-width: 800px) {
  .card-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 5%;
  }
  .speaker-card {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-container img {
    width: 70vw;
  }
  .speaker-text {
    text-align: center;
  }
} */