.container {
  margin-top: 20px;
  height: 300px;
  z-index: 1;
  color: white;
}
.row {
  padding: 20px;
  height: 300px;
}

/* ----------------------register button-------------------------- */
.register__button ul li a {
  color: white;
}

li {
  list-style-type: none;
}

.register__button {
  margin: auto;
  height: auto;
  width: auto;
}

/* -------------------------------card section--------------------------------- */
/* .parvaah-content {
  margin: auto;
  margin-bottom: 5vw;
  margin-left: 4vw;
  padding-top: 7.5vw;
  width: 70vw;
  color: #f1f1f1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
}

.images {
  height: auto;
  width: 80%;
  position: relative;
  top: 10%;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 auto;
  align-content: center !important;
}

.image-l {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 10%;
}

.image-r {
  float: right;
  width: 50%;
  height: auto;
  margin-right: 10%;
}

.right {
  width: 60%;
  padding: 2% 5%;
  float: right;
  margin: auto;
  border-left: 2px solid #f1f1f1;
}

.left {
  width: 60%;
  padding: 2% 5%;
  float: right;
  margin: auto;
} */

.card-container {
  width: 90vw;
  padding: 0 10vw;
  transform: translateX(-5vw);
  margin-right: 4vw;
}

.card-odd,
.card-even {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 5%;
}

.img-odd {
  width: 40%;
  float: left;
  padding: 1%;
  height: auto;
}

.text-odd {
  width: 70%;
  float: right;
  text-align: left;
  color: #f1f1f1;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 10vh;
}

.img-even {
  width: 40%;
  float: right;
  padding: 1%;
  height: auto;
}

.text-even {
  width: 70%;
  float: left;
  /* text-align: right; */
  text-align: justify;
  padding-right: 2%;
  color: #f1f1f1;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: 10vh;
}

.image {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .parvaah-content {
    padding-top: 0vw;
    margin: auto;
  }

  .images {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    position: relative;
    left: -3%;
  }

  .image-l {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .image-r {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 20%;
  }
  .right {
    border: none;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 5%;
  }

  .card-odd {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
  .card-even {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-container img {
    width: 70vw;
  }
  .text-even,
  .text-odd {
    text-align: center;
    margin-left: 5vw;
  }
}
