.container {
  margin-top: 20px;
  height: 300px;
  z-index: 1;
  color: white;
}

.row {
  padding: 20px;
  height: 300px;
}

.flower {
  background-image: url("https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------volunteer button-------------------------- */
.volunteer__button ul li a{
  color: white;
}

li{
  list-style-type: none;
}

.volunteer__button{
  margin: auto;
  height: auto;
  width: auto;
}

/* -------------------------------card section--------------------------------- */
.parvaah-content {
  margin: auto;
  margin-bottom: 5vw;
  padding-top: 7.5vw;
  width: 70vw;
  color: #f1f1f1;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  margin-left: 10vw;
}

.images {
  height: auto;
  width: 80%;
  position: relative;
  top: 10%;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3vw;
  margin-left: 4vw;
}

.image-l {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 10%;
}

.image-r {
  float: right;
  width: 50%;
  height: auto;
  margin-right: 10%;
}

.card-container {
  width: 90vw;
  padding: 0 10vw;
  transform: translateX(-5vw);
  margin-right: 4vw
} 

.card-odd,
.card-even {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 5%;
}

.img-odd {
  width: 30%;
  float: left;
  padding: 1%;
}

.text-odd {
  width: 70%;
  float: right;
  text-align: left;
  color: #f1f1f1; 
  text-transform: capitalize;
  font-size: 1rem;
}

.img-even {
  width: 30%;
  float: right;
  padding: 1%;
}

.text-even {
  width: 70%;
  float: left;
  text-align: right;
  padding-right: 2%;
  color: #f1f1f1;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 1rem;
}

.image {
  width: 100%;
}

@media screen and (max-width:800px) {
  .parvaah-content {
    padding-top: 0vw;
  }

  .images {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    position: relative;
    left: -3%
  }

  .image-l {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .image-r {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 20%;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left:10vw;
  }

  .card-odd{
      display: flex;
      flex-direction: column;
      padding: 4rem 0;
  }
  .card-even{
      display: flex;
      flex-direction: column-reverse;
  }
  .card-container img{
      width: 60vw;
  }
  .text-even,.text-odd{
    text-align: center;
    margin-right:5vw;
  }
} 