.container {
  margin-top: 20px;
  height: 300px;
  z-index: 1;
  color: white;
}

.row {
  padding: 20px;
  height: 300px;
}

.flower {
  background-image: url("https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.volunteer__button ul li a{
  color: white;
}

li{
  list-style-type: none;
}

.volunteer__button{
  margin: auto;
  height: 30px;
  width: 100px;
}