.container {
  margin-top: 20px;
  height: 300px;
  z-index: 1;
  color: white;
  position: relative;
}

.row {
  padding: 20px;
  height: 200px;
  margin-bottom: 10vh;
  font-size: 1.1rem;
}

.text {
  text-align: center;
  margin: 5vh 15vh;
}

/* .heading{
  text-transform: uppercase;
  margin: 5vh 10vh;
}

h2{
  font-size: 13vh;
  text-align: center;
} */
/* ----------------------nominate partner button-------------------------- */
.nominate__button ul li a,
.partner__button ul li a {
  color: white;
}

li {
  list-style-type: none;
}

.nominate__button,
.partner__button {
  margin: auto;
  height: auto;
  width: auto;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .text,
  .heading {
    margin: auto;
  }
  .push-down {
    margin-top: 150px;
  }
  /* h2{
    font-size: 5vh;
    text-align: center;
  } */
}
